<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="awesome-box col-xs-6 col-xs-offset-3 text-center">

<h1>
	Advice is awesome!!!
</h1>

<br>

<button type="button" class="btn btn-primary">Launch</button>
</div>

